# Python
__pycache__/
*.py[cod]
*$py.class

# Django migrations (если не нужно отслеживать начальные миграции)
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
# Можно исключить сами миграции, если они генерируются на сервере:
# **/migrations/*.py

# Virtual environment
venv/
.venv/
env/
.env/

# VS Code / PyCharm
.vscode/
.idea/

# macOS / Windows системные файлы
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
*.env

# Database (если используется SQLite в dev)
db.sqlite3
*.sqlite3

# Logs
*.log
logs/
*.pot

# Media / static / uploads
media/
staticfiles/
static_root/
static/
uploads/

# Coverage / testing
htmlcov/
coverage.xml
.tox/
.nox/
.pytest_cache/
.junit.xml

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Compiled code / build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg